.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/background.jpg');  
    background-size: cover;
    background-position: center;
  }
  
.home-content {
    text-align: center;
    color: #45474B;  
    background: rgba(0, 0, 0, 0.5);  
    padding: 20px;
    border-radius: 10px;
}
