* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: black;
  line-height: 1.6;
  background-color:darkolivegreen;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  text-decoration: wavy;
}

.navbar a {
  color: black;
  text-decoration:wavy;
  font-weight:900;
  font-style:oblique;
  font-display:inherit;
  font-size: 1.7em;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar ul li a {
  color: greenyellow;
  text-decoration: none;
  font-size: 1em;
  font-style: unset;
  
}

.navbar ul li a:hover,
.navbar ul li button:hover {
  text-decoration: underline;
}

.navbar ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

/* General container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
